body {
    background-image:url("../images/pear.jpg");
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size:100% 100%;
    color:navy;
    font-family: 'comic sans ms', cursive, sans-serif;
    font-size: 200%;
}
h1{
    text-align: center;
}