ul{
	list-style-type:none;
	overflow: hidden;
	margin:0;
	padding:0;
	display:block;
	background-color: #00072D;
}

li a{
	float:left;
	text-decoration: none;
	padding: 20px;
	color:white;
	font-weight:bold;
	font-family:'comic sans MS';
	font-size:100%;
}

li a:hover {
	background-color: #123499;
}
.city{
	background-color: tomato;
	padding:20px;
	border:2px solid black;
	margin:10px;

}

.capital{
	text-align:center;
}

.mycontainer{
	overflow:auto;
	width:100%;
}
.mycontainer div{
	width:33%;
	float:left;
}

.maths{
	display:flex;
}
.maths div {
	width:33%;
	padding:40px;
}

.chem{
	display:grid;
	grid-template-columns: 33% 33% 33%;
	margin:10px;
	padding:50px;
}
