body{
	font-family:'Comic Sans MS';
}

h1{
	text-align:center;
}

ul{
	display:block;
	list-style-type:none;
	padding:0;
	font-size:20px;
	margin:0;
	overflow: hidden;
	background-color:lightgreen;
}
li a{
	float:left;
	text-align:left;
	padding:15px;
	text-decoration:none;
}

li a:hover{
	background-color:gray;

}

caption{
	text-align:center;
	color:red;
}

table, th, td{
	border:2px solid lightgray;
	border-style:outset;
	border-collapse:collapse;
	text-align:left;

} 
th, td{
	padding:16px;

}

tr:hover {
	background-color:lightgreen;
}
tr:nth-child(even){
	background-color:#888888;
	border-bottom:2px solid #888888;
}
