body{
	font-family:'Comic Sans MS';
	font-size:18px;
}

h1{
	text-align:center;
}
table{
	border-collapse:collapse;
	width:100px;
	margin: 20px;
}

th, td{
	border:2px solid gray;
	text-align:left;
    padding: 10px;

}


tr:nth-child(odd){
	background-color: lightslategray;
}
